html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#050816;
    color:white;
}

section{
    width:90%;
    max-width:1400px;
    margin:auto;
    padding:40px 0;
}

/* NAVBAR */

.navbar{
    padding:25px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    background:rgba(5,8,22,.8);
    backdrop-filter:blur(20px);
    z-index:1000;
    transition:all 0s ease-in-out; 
}

.navbar-scrolled{
    padding:18px 80px;
    background:rgba(5,8,22,.95);
    backdrop-filter:blur(25px);
    box-shadow:
        0 10px 30px rgba(0,0,0,.25);
}

.logo-section{
    display:flex;
    align-items:center;
}

.logo{
    width:auto;
    height:87px;
    object-fit:contain;

    margin-top:-10px;
    margin-bottom:-15px;
    margin-right:-47px;
    margin-left:-55px;
}

.brand-text h2{
    margin:0;
    font-size:48px;
}

.brand-text p{
    margin:0;
    color:#94a3b8;
    font-size:13px;
}

.tru{
    color:#ffffff;

    text-shadow:
    0 1px 0 #ffffff,
    0 2px 4px rgba(255,255,255,0.15);
}

.wheels{
    background:linear-gradient(
        180deg,
        #7dd3fc 0%,
        #38bdf8 25%,
        #0ea5e9 50%,
        #2563eb 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links{
    display:flex;
    gap:27px;
    margin-right:-320px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    position:relative;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:#3b82f6;
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.profile-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,.15);
    display:flex;
    justify-content:center;
    align-items:center;
}

.user-photo{

    width: 55px;
    height: 55px;

    border-radius: 50%;

    object-fit: cover;
}

.auth-section{
    display:flex;
    align-items:center;
    gap:15px;
}

.signin-btn{

    padding:12px 28px;

    border:none;
    margin-right:-50px;
    border-radius:14px;

    background:#030d3c;

    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.signin-btn:hover{

    transform:translateY(-2px);

    box-shadow:
        0 8px 20px rgba(37,99,235,.35);
}

.nav-divider{
    height:1px;
    background:rgba(255,255,255,.08);
}

/* HERO */

.hero-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:80px;
}

.hero-section{
    min-height:80vh;

    display:flex;
    align-items:center;

    padding-top:30px;
    padding-bottom:40px;
}

.hero-left,.hero-right{
    flex:1;
}

.hero-badge{
    display:inline-block;
    padding:12px 20px;
    border:1px solid rgba(37,99,235,.3);
    border-radius:30px;
    margin-bottom:-10px;
}

.hero-title{
    font-size:4.3rem;
    line-height:1.05;
    margin:25px 0;
}

.hero-title span{
    color:#2563eb;
}

.hero-description{
    color:#9ca3af;
    line-height:1.8;
    margin:30px 0;
}

.hero-btn{
    padding:18px 38px;

    border:none;

    border-radius:16px;

    background:linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );

    color:white;

    font-size:18px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
    margin-bottom:12px;

    display:inline-block;
    text-decoration:none;
}

.hero-btn:hover{

    transform:translateY(-3px);

    box-shadow:
        0 10px 25px rgba(37,99,235,.35);
}

.hero-right{
    position:relative;
    overflow:visible;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-right::before{

    content:"";
    position:absolute;
    width:700px;
    height:700px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:radial-gradient(
        circle,
        rgba(37,99,235,.28) 0%,
        rgba(37,99,235,.12) 35%,
        rgba(37,99,235,.04) 55%,
        transparent 75%
    );
    border-radius:50%;
    filter:blur(90px);
    z-index:0;
}

.hero-right::after{
    content:"";
    position:absolute;
    width:420px;
    height:70px;
    left:50%;
    bottom:35px;
    transform:translateX(-50%);
    background:rgba(37,99,235,.35);
    border-radius:50%;
    filter:blur(35px);
    z-index:1;
}


.hero-car{
    width:600px;
    position:relative;
    z-index:2;
    filter:
        drop-shadow(0 30px 40px rgba(0,0,0,.55))
        drop-shadow(0 0 25px rgba(37,99,235,.15));
}

/* TRUST */

.trust-section,
.trust-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:60px;
    text-align:center;
}
.trust-section{
    margin-top:-20px;
}
.metric{
    padding:0 25px;
    position:relative;
}

.metric:not(:last-child)::after{
    content:"";
    position:absolute;
    right:-30px;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:120px;
    background:linear-gradient(
        transparent,
        rgba(255,255,255,.12),
        transparent
    );
}

.metric h2{
    font-size:4rem;
    margin-bottom:20px;
    text-shadow:
        0 0 30px rgba(255,255,255,.15);
}

.metric:last-child h2{
    font-size:3.5rem;
}

.metric h4{
    color:rgba(255,255,255,.9);
    margin:20px 0;
    font-size:1rem;
    letter-spacing:1px;
    font-weight:600;
    text-shadow:
        0 0 20px rgba(255,255,255,.12);
}

.metric i{
    font-size:50px;
    color:#2563eb;
    margin-bottom:20px;
    display:block;
}

.trust-item p{
    color:#9ca3af;
    line-height:1.7;
}

.metric p{
    color:#94a3b8;
    line-height:1.8;
    font-size:1rem;
}

.fall-number{
    opacity:0;
    transform:translateY(-20px);
    transition:
        transform 1s cubic-bezier(.17,.89,.32,1.28),
        opacity .3s ease;
}

.fall-number.show{
    opacity:1;
    transform:translateY(0);
}

/* PRODUCT CARDS */

.products-section{
    text-align:center;
    padding-top:30px;
}

.products-section h2{
    font-size:3rem;
    font-weight:700;
    line-height:1.1;
    margin-bottom:-17px;
    letter-spacing:-1px;
    text-shadow:
        0 0 30px rgba(255,255,255,.08);
}

.products-section h2 span{
    background:linear-gradient(
        180deg,
        #7dd3fc 0%,
        #38bdf8 25%,
        #0ea5e9 50%,
        #2563eb 100%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.products-section > p{
    max-width:650px;
    margin:18px auto 0;
    color:#94a3b8;
    font-size:1.15rem;
    line-height:1.8;
}

.products-section,
.workflow-section,
.why-trust{
    text-align:center;
}

.products-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:40px;
}

.product-card{
    padding:50px;
    border:1px solid rgba(255,255,255,.08);
    border-radius:28px;
    background:linear-gradient(
        180deg,
        rgba(255,255,255,.03),
        rgba(255,255,255,.01)
    );
    backdrop-filter:blur(20px);
    position:relative;
    overflow:hidden;
    transition:.35s;
    text-align:left;
    min-height:360px;

    display:flex;
    flex-direction:column;
}

.card-btn{
    display:inline-block;
    padding:14px 34px;
    margin-top:auto;

    border:1px solid rgba(37,99,235,.8);
    border-radius:18px;

    color:white;
    text-decoration:none;

    font-size:1.1rem;
    font-weight:600;

    transition:.3s;

    position:relative;
    z-index:2;
}

.card-btn:hover{
    background:rgba(37,99,235,.08);
    border-color:#3b82f6;
    transform:translateY(-2px);
}

.product-card:hover{
    transform:translateY(-8px);
    border-color:rgba(255,255,255,.15);
}

.product-card::before{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    top:-100px;
    right:-80px;
    border-radius:50%;
    background:rgba(37,99,235,.08);
    filter:blur(70px);
    opacity:0;
    transition:.4s;
}

.card-icon{
    width:70px;
    height:70px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    margin-bottom:30px;
    background:rgba(37,99,235,.12);
    border:1px solid rgba(37,99,235,.2);
    box-shadow:
        0 0 25px rgba(37,99,235,.12);
}

.card-car{
    position:absolute;
    right:-30px;
    bottom:-10px;
    width:300px;
    opacity:.18;
    pointer-events:none;
    z-index:0;
}

.product-card:hover::before{
    opacity:1;
}

.product-card h3{
    font-size:2rem;
    margin-bottom:25px;
}

.product-card p{
    color:#94a3b8;
    line-height:1.7;
    margin-bottom:30px;
    flex-grow:1;
}

.product-card h3,
.product-card p,
.card-btn{
    position:relative;
    z-index:2;
}


/* WORKFLOW */

.workflow-section{
    text-align:center;
    padding:35px 0 80px;
}

.workflow-section h2{
    font-size:3rem;
    margin-bottom:80px;
}

.workflow-section h2 span:first-child{
    color:#ffffff;
    text-shadow:
        0 1px 0 #ffffff,
        0 2px 4px rgba(255,255,255,0.15);
}

.workflow-section h2 span:last-child{
    background:linear-gradient(
        180deg,
        #7dd3fc 0%,
        #38bdf8 25%,
        #0ea5e9 50%,
        #2563eb 100%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.workflow-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.workflow-item{
    position:relative;
    text-align:center;
}

.workflow-item:nth-child(3) .workflow-top{
    padding-right:120px;
}

.step-number{
    position:absolute;
    top:-40px;
    left:5px;

    font-size:6rem;
    font-weight:700;

    color:rgba(255,255,255,.06);

    z-index:0;
}

.workflow-top{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
    position:relative;
    z-index:2;
    padding-left:60px;
    transform:translateY(-15px);
}

.workflow-icon{
    width:60px;
    height:60px;
    margin-left:65px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:2rem;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(37,99,235,.3);

    backdrop-filter:blur(20px);
}

.connector{
    width:100px;
    height:2px;

    margin-left:30px;

    background:repeating-linear-gradient(
        to right,
        rgba(255,255,255,.15) 0,
        rgba(255,255,255,.15) 8px,
        transparent 8px,
        transparent 16px
    );

    position:relative;
}

.connector::after{
    content:"";

    position:absolute;

    right:-5px;
    top:50%;

    transform:translateY(-50%);

    width:10px;
    height:10px;

    border-radius:50%;

    background:#2563eb;
}

.workflow-item h3{
    font-size:1.5rem;
    margin-top:-10px;
    margin-bottom:0px;
    position:relative;
    z-index:2;
    min-height: 40px;
    line-height: 1.3;
}

.workflow-item p{
    color:#94a3b8;
    line-height:1.5;
    max-width:280px;
    margin:auto;
    position:relative;
    z-index:2;
}

/* WHY TRUST */

.why-trust{
    padding:10px 0 80px;
    text-align:center;
}

.why-trust h2{
    font-size:3rem;
    margin-bottom:-10px;
}

.trust-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:60px;
    margin-top:60px;
}

.trust-item{
    padding:0 30px;
    position:relative;
    text-align:center;
}

.trust-item:not(:last-child)::after{
    content:"";
    position:absolute;
    right:-30px;
    top:50%;
    transform:translateY(-50%);

    width:1px;
    height:160px;

    background:linear-gradient(
        transparent,
        rgba(255,255,255,.12),
        transparent
    );
}

.trust-icon{
    font-size:55px;
    margin-bottom:30px;

    filter:drop-shadow(
        0 0 20px rgba(37,99,235,.25)
    );
}

.trust-item h3{

    color:rgba(255,255,255,.9);

    font-size:1.05rem;

    letter-spacing:1.5px;

    margin-bottom:15px;

    font-weight:600;

    text-shadow:
        0 0 20px rgba(255,255,255,.12);
}

.trust-item p{
    color:#94a3b8;
    line-height:1.8;
    font-size:1rem;
}

/* FOOTER */

.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:40px 80px;

    border-top:1px solid rgba(255,255,255,.08);
}

.footer-brand{
    display:flex;
    align-items:center;
    gap:0px;
    margin-bottom:-1px;
}

.footer-brand h3{
    font-size:2rem;
}

.footer-logo{
    width:90px;
    margin-right:-29px;
    margin-left: -35px;
    
}

.footer-left p{
    
    color:#94a3b8;
    line-height:1.6;
}

.footer-center{
    display:flex;
    align-items:center;
}

.footer-center a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
    padding:0 35px;
    position:relative;
}

.footer-center a:not(:last-child)::after{
    content:"|";
    position:absolute;
    right:0;
    color:rgba(255,255,255,.25);
}

.footer-center a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

.footer-center a:hover{
    color:#2563eb;
}

.footer-right{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    min-width:280px;
}

.contact-title{
    font-size:1.1rem;
    font-weight:600;
    margin-bottom:20px;
}

.social-links{
    display:flex;
    gap:15px;
    margin-bottom:18px;
}

.contact-email{
    color:#94a3b8;
    font-size:0.95rem;
    line-height:1.6;
    word-break:break-word;
}

.social-btn{
    width:45px;
    height:45px;

    border-radius:50%;

    border:1px solid rgba(255,255,255,.1);

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    color:#fff;

    transition:.3s;
}

.social-btn:hover{
    border-color:#2563eb;
    transform:translateY(-3px);
}

.footer-bottom{
    padding-top:5px;
    padding-bottom:30px;
    text-align:center;
    margin-top:-50px;
}

/* PROFILE */

.profile-wrapper{
    position: relative;
}

.profile-dropdown{

    position: absolute;

    top: 70px;
    right: 0;

    width: 220px;

    background: rgba(15,23,42,.95);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,.1);

    border-radius: 20px;

    padding: 20px;

    display: none;

    flex-direction: column;

    gap: 12px;

    z-index: 1000;
}

.profile-dropdown.active{
    display: flex;
}

.profile-dropdown button{

    border: none;

    background: transparent;

    color: white;

    text-align: left;

    cursor: pointer;

    padding: 10px;

    border-radius: 10px;
}

.profile-dropdown button:hover{
    background: rgba(255,255,255,.08);
    cursor: pointer;
}

.profile-btn{

    cursor:pointer;
    transition:.3s;
}

.profile-btn:hover{

    transform:scale(1.05);
}

/* ================= LOGIN MODAL ================= */

.login-modal{

    position: fixed;

    inset: 0;

    background: rgba(0,0,0,0.65);

    backdrop-filter: blur(8px);

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    visibility: hidden;

    transition: 0.3s ease;

    z-index: 9999;

}

.login-modal.show{

    opacity: 1;

    visibility: visible;

}

.login-box{

    width: 420px;

    background: #0B1020;

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 20px;

    padding: 40px;

    text-align: center;

    box-shadow: 0 25px 60px rgba(0,0,0,0.5);

}

.login-icon{

    width: 72px;

    height: 72px;

    margin: auto;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 30px;

    background: rgba(37,99,235,0.15);

    margin-bottom: 22px;

}

.login-box h2{

    color: white;

    font-size: 30px;

    margin-bottom: 15px;

}

.login-box p{

    color: #B8C0D4;

    line-height: 1.7;

    margin-bottom: 30px;

}

#continueGoogleBtn{

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 12px;

    background: #2563EB;

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.25s;

}

#continueGoogleBtn:hover{

    background: #1D4ED8;

}

#cancelLoginBtn{

    margin-top: 18px;

    background: transparent;

    border: none;

    color: #A0AEC0;

    font-size: 15px;

    cursor: pointer;

}

#cancelLoginBtn:hover{

    color: white;

}


.hamburger{
display:none;

width:38px;
height:33px;

align-items:center;
justify-content:center;

border:1px solid rgba(255,255,255,.1);
border-radius:12px;

font-size:22px;

cursor:pointer;

transition:.3s;
}

.mobile-menu{
display:none;
}


@media (max-width:768px){

.navbar,
.navbar-scrolled{
    padding:16px 18px;
}

.logo{
    height:55px;
    margin-top:-8px;
    margin-bottom:-10px;
    margin-left:-30px;
    margin-right:-28px;
}

.brand-text h2{
    font-size:27px;
}

.nav-links{
    display:none;
}

.auth-section{
    display:flex;
    align-items:center;
    gap:6px;
    margin-left:0;
}

.profile-btn{
    width:40px;
    height:40px;
}

.user-photo{
    width:40px;
    height:40px;
}

.signin-btn{
    width:72px;
    height:36px;
    padding:0;
    font-size:13px;
    border-radius:12px;
    margin:0;
}

.hamburger{
display:flex;
}

section{
    width:92%;
    padding:24px 0;
}

.hero-section{
    min-height:auto;
    padding-top:24px;
    padding-bottom:0;
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0;
}

.hero-left{
    width:100%;
    order:1;
    text-align:left;
}

.hero-badge{
    display:inline-block;
    padding:10px 18px;
    font-size:13px;
    margin-bottom:20px;
}

.hero-title{
    font-size:2.95rem;
    line-height:1.08;
    letter-spacing:-1px;
    margin:0 0 18px;
}

.hero-description{
    font-size:15px;
    line-height:1.65;
    color:#9ca3af;
    margin:0 0 24px;
    max-width:92%;
}

.hero-btn{
    display:block;
    width:260px;
    padding:16px 0;
    margin:0 auto 18px;
    text-align:center;
    font-size:17px;
    border-radius:14px;

    position: relative;
    z-index: 100;
}

.buyer-note{
    text-align:left;
    font-size:14px;
    margin-bottom:8px;
}

.hero-right{
    width:100%;
    order:2;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-top:-10px;
    overflow:visible;
}

.hero-right::before{
    width:420px;
    height:420px;
    filter:blur(55px);
    opacity:.9;
}

.hero-right::after{
    width:280px;
    height:60px;
    bottom:32px;
    filter:blur(28px);
}

.hero-car{
   
    width:110%;
    max-width:none;
    transform:translateY(-10px);
}

.trust-section{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:34px;
    margin-top:0px;
    padding-top:20px;
    padding-bottom:20px;
}

.metric{
    padding:0;
    text-align:center;
}

.metric::after{
    display:none;
}

.metric h2{
    font-size:3rem;
    margin-bottom:12px;
}

.metric:last-child h2{
    font-size:3rem;
}

.metric h4{
    font-size:15px;
    margin:12px 0;
    letter-spacing:0.8px;
}

.metric p{
    font-size:15px;
    line-height:1.7;
    max-width:280px;
    margin:auto;
}

.products-section{
    padding-top:30px;
}

.products-section h2{
    font-size:2.3rem;
    line-height:1.15;
    margin-bottom:12px;
}

.products-section>p{
    font-size:15px;
    line-height:1.7;
    max-width:320px;
    margin:auto;
}

.products-grid{
    display:flex;
    flex-direction:column;
    gap:22px;
    margin-top:35px;
}

.product-card{
    min-height:300px;
    padding:30px 24px;
    border-radius:22px;
}

.product-card h3{
    font-size:1.6rem;
    margin-bottom:16px;
}

.product-card p{
    font-size:15px;
    line-height:1.7;
    margin-bottom:28px;
}

.card-btn{
    width:100%;
    text-align:center;
    padding:14px 0;
    font-size:16px;
    border-radius:14px;
}

.card-car{
    width:220px;
    right:-20px;
    bottom:-8px;
    opacity:.16;
}

.workflow-section{
    padding:35px 0 40px;
}

.workflow-section h2{
    font-size:2.3rem;
    line-height:1.2;
    margin-bottom:45px;
}

.workflow-grid{
    display:flex;
    flex-direction:column;
    gap:45px;
}

.workflow-item{
    text-align:center;
}

.workflow-top{
    padding:0;
    margin-bottom:22px;
    transform:none;
}

.workflow-icon{
    width:72px;
    height:72px;
    margin:0 auto;
    font-size:2rem;
}

.connector{
    display:none;
}

.step-number{
    display:none
}

.workflow-item h3{
    font-size:1.45rem;
    min-height:auto;
    margin-bottom:12px;
}


.workflow-item:nth-child(3) .workflow-top{
    padding-right:0;
}

.workflow-item p{
    font-size:15px;
    line-height:1.7;
    max-width:290px;
}

.why-trust{
    padding:30px 0;
}

.why-trust h2{
    font-size:2.2rem;
    line-height:1.2;
    margin-bottom:-30px;
}

.trust-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:18px;
}

.trust-item{
    padding:24px 16px;
    border-radius:18px;
    min-height:200px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    text-align:center;
}

.trust-icon{
    width:60px;
    height:60px;
    font-size:1.8rem;
    margin-bottom:18px;
}

.trust-item h3{
    font-size:1rem;
    line-height:1.3;
    margin-bottom:12px;
}

.trust-item p{
    font-size:14px;
    line-height:1.6;
}

.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:40px;

    padding:45px 24px;
}

.footer-left,
.footer-center,
.footer-right{
    width:100%;
}

.footer-brand{
    justify-content:center;
    margin-bottom:14px;
}

.footer-logo{
    width:42px;
}

.footer-brand h3{
    font-size:2rem;
}

.footer-left p{
    font-size:15px;
    line-height:1.7;
}

.footer-center{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.footer-center a{
    font-size:15px;
}

.contact-title{
    font-size:1.25rem;
    margin-bottom:18px;
}

.social-links{
    justify-content:center;
    gap:18px;
    margin-bottom:18px;
}

.social-btn{
    width:48px;
    height:48px;
    font-size:20px;
}

.contact-email{
    font-size:15px;
    word-break:break-word;
}

.footer-bottom{
    text-align:center;
    padding:18px 20px;
    font-size:13px;
    line-height:1.5;
}

.mobile-menu{

display:none;
flex-direction:column;

position:fixed;

top:78px;
left:18px;
right:18px;

background:#0b1220;

border:1px solid rgba(255,255,255,.08);
border-radius:18px;

overflow:hidden;

z-index:999;
}

.mobile-menu.active{
display:flex;
}

.mobile-menu a{

padding:18px 20px;

color:white;
text-decoration:none;

font-size:16px;

border-bottom:1px solid rgba(255,255,255,.05);
}

.mobile-menu a:last-child{
border-bottom:none;
}

.mobile-menu a:hover{
background:rgba(255,255,255,.05);
}


.login-modal{
    padding:18px;
}

.login-box{
    width:100%;
    max-width:none;
    padding:26px 20px;
    border-radius:18px;
}

.login-icon{
    width:56px;
    height:56px;
    font-size:24px;
    margin-bottom:16px;
}

.login-box h2{
    font-size:24px;
    margin-bottom:10px;
    line-height:1.2;
}

.login-box p{
    font-size:14px;
    line-height:1.45;
    margin-bottom:20px;
}

#continueGoogleBtn{
    padding:14px;
    font-size:15px;
}

#cancelLoginBtn{
    margin-top:14px;
    font-size:14px;
}

.profile-dropdown{
    width:250px;
    padding:22px;
    top:58px;
    right:0;
    gap:14px;
    border-radius:18px;
}

.profile-dropdown p{
    font-size:16px;
    margin-bottom:8px;
}

.profile-dropdown button{
    padding:12px 14px;
    font-size:15px;
    border-radius:12px;
}
.profile-dropdown{
    box-shadow:0 18px 40px rgba(0,0,0,.35);
}



}